@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.6px;
  height: 19.8px;
  background: var(--secondary-dark, #ffbe62);
  border-radius: 1px;
  z-index: -1;
}

.input-base {
  @apply mb-9 pl-3 block h-[3.75rem] w-full rounded-md bg-white-800 dark:bg-black-300 md:h-[5rem];
}

.input-focus {
  @apply focus:border-primary-light dark:focus:border-primary-dark focus:outline-none focus:ring focus:ring-primary-light dark:focus:ring-primary-dark;
}

.input-error {
  @apply border-red-800;
}

.cardBoxShadowHover {
  @apply transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl dark:bg-black-200 dark:shadow-cardShadowSmall dark:hover:shadow-cardShadowLarge;
}

.translate-image {
  transition: transform 0.3s ease;
}
